.contanier{
  width: 100%;
  max-width: 1246px;
  margin: 0 auto;
  padding: 0 15px;
}

body{
  font-family: "PlusJakarta Sans", sans-serif;
  font-weight: 500;
}
@import "mixins";
@import "blocks/blocks";
